@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    color: green;
    background: black;
    text-align: center;
    font-family: 'poppins, sans-serif';
    font-size: 18px;
}

.lol {
    border: solid white 3px;
}

.minecraft {
    border: solid white 3px;
}

.LinkList {
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .Link {
    float: left;
  }
  
  .ListLink {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  }
  
  .LinkBarLogo {
    float: left;
  }

::selection {
    background: #ffffff; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffffff; /* Gecko Browsers */
}