@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    color: green;
    background: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
}

.AboutLogo {
    height: 35%;
    width: 35%;
}
.GameSelectList {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li.GameSelectListLin {
  display: grid;
  justify-content: center;
  text-align: center;
  }

html {
scroll-behavior: smooth;
}

a {
text-decoration: none;
color: green;
} 

#down {
margin-top: 100%;
padding-bottom: 25%;
}

::selection {
    background: #ffffff; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffffff; /* Gecko Browsers */
}