@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(to top, #ffffff, #e8f5e1, #c5ecd5, #99e4d6, #65d9e2, #35cdec, #00c0f7, #00b0fd, #009dfc, #008afa, #0075f3, #045de9);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Poppins, sans-serif';
    font-size: 18px;
}
.LearningLogs {
    text-align: left;
}
.AboutLogo {
    height: 35%;
    width: 35%;
}

.LinkList {
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.Link {
    float: left;
}
  
.ListLink {
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
}

.LinkBarLogo {
    float: left;
}

.GameSelectList {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li.GameSelectListLin {
  display: grid;
  justify-content: center;
  text-align: center;
  }

::selection {
    background: #ffffff; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffffff; /* Gecko Browsers */
}